# IDEs & AI
/.idea
/.vscode
/.agents
/*.code-workspace
!/navifox.code-workspace
/*.md
!/README.md

# Environment
**/.env.local
**/.env.*.local
**/node_modules/
**/cache/
**/dist/
**/dist-ssr/
**/dist.*
/.venv/

# Scripts
**/*.bat
**/*.cmd
**/*.ps1
**/*.py
**/*.sh
**/*.bash

# System
**/desktop.ini
**/.DS_Store/
**/__MACOSX/
