# IDEs & AI
/.idea/
/.vscode/
/.memory/
/.agents/
/.claude/
/*.code-workspace
/*.md
/skills-lock.json
!/navifox.code-workspace
!/README.md
!/README.*.md
!/CHANGELOG.md

# Environment
**/.env.local
**/.env.*.local
**/node_modules/
/.venv/

# Caches & Builds
**/__pycache__/
**/cache/
**/dist/
**/dist-ssr/
**/dist.*
/.pnpm-store/
/zoo.*/

# Scripts
**/*.bat
**/*.cmd
**/*.ps1
**/*.py
**/*.sh
**/*.bash

# System
**/desktop.ini
**/.DS_Store/
**/__MACOSX/
