# IDEs & AI
/.idea/
/.vscode/
/.agents/
/.claude/
/*.code-workspace
/*.md
!/navifox.code-workspace
!/README.md
/skills-lock.json

# Environment
**/.env.local
**/.env.*.local
**/node_modules/
/.venv/

# Caches
**/__pycache__/
**/cache/
**/dist/
**/dist-ssr/
**/dist.*
/temp/

# Scripts
**/*.bat
**/*.cmd
**/*.ps1
**/*.py
**/*.sh
**/*.bash

# System
**/desktop.ini
**/.DS_Store/
**/__MACOSX/
